
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 555.4rem;
}.item--vyK {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--vyK .auto-group-lq5x-Sgm {
  box-sizing: border-box;
  padding-bottom: 90.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--vyK .auto-group-lq5x-Sgm .item-2023-12-04-134-myw {
  margin-bottom: 90.2rem;
  width: 71.2rem;
  height: 38.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--vyK .auto-group-lq5x-Sgm .item-2023-12-04-134-3wT {
  width: 71.2rem;
  height: 38.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--vyK .auto-group-1j5b-MBT {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--vyK .auto-group-1j5b-MBT .item-2023-12-04-135-5NM {
  margin-right: 413rem;
  width: 71.2rem;
  height: 38.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--vyK .auto-group-1j5b-MBT .item-2023-12-04-135-9t1 {
  width: 71.2rem;
  height: 38.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
