
.item-02-Qhb {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
}
.item-02-Qhb .back-Tfs {
  width: 192rem;
  height: 108rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.item-02-Qhb .item-2023-11-29230321-1-Q5K {
  width: 227.4rem;
  height: 113.8rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.item-02-Qhb .group-5-sDo {
  width: 31.3rem;
  height: 35.6884rem;
  position: absolute;
  left: 151.4rem;
  top: 66.2116rem;
}
.item-02-Qhb .group-5-sDo .group-zpD {
  width: 18.926rem;
  height: 35.6884rem;
  position: absolute;
  left: 3.7984rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item-02-Qhb .group-5-sDo .group-4-7P3 {
  box-sizing: border-box;
  padding: 0.922rem 0.3rem 0.841rem 0.166rem;
  width: 23.9rem;
  height: 7.938rem;
  position: absolute;
  left: 7.4rem;
  top: 22.4884rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-pdK.png');
}
.item-02-Qhb .group-5-sDo .group-4-7P3 .vector-xPf {
  margin-bottom: 0.6311rem;
  width: 3.9293rem;
  height: 0.281rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-Qhb .group-5-sDo .group-4-7P3 .vector-VuP {
  margin: 0rem 0rem 3.812rem 0.491rem;
  width: 1.6837rem;
  height: 0.1405rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-Qhb .group-5-sDo .group-4-7P3 .vector-E6H {
  margin: 0rem 0rem 0.443rem 19.013rem;
  width: 4.2103rem;
  height: 0.2363rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-Qhb .group-5-sDo .group-4-7P3 .auto-group-jibf-8xM {
  margin-left: 0.6311rem;
  width: calc(100% - 0.6311rem);
  display: flex;
  align-items: flex-end;
}
.item-02-Qhb .group-5-sDo .group-4-7P3 .auto-group-jibf-8xM .vector-UWR {
  margin: 0rem 12.419rem 0rem 0rem;
  width: 4.5604rem;
  height: 0.281rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-02-Qhb .group-5-sDo .group-4-7P3 .auto-group-jibf-8xM .vector-1mF {
  width: 5.8226rem;
  height: 0.6311rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-02-Qhb .group-5-sDo .item--kD3 {
  width: 8.7rem;
  height: 4rem;
  position: absolute;
  left: 13.3rem;
  top: 24.5884rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.1111111111;
  color: #ffffff;
  font-family: NanumBarunGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.item-02-Qhb .group-5-sDo .group-v13 {
  width: 12.5rem;
  height: 10.3rem;
  position: absolute;
  left: 0;
  top: 20.1884rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-Qhb .group-b7B {
  width: 46.4rem;
  height: 36.341rem;
  position: absolute;
  left: 99.5232rem;
  top: 65.5116rem;
}
.item-02-Qhb .group-b7B .layer-1-vv9 {
  width: 46.4rem;
  height: 29.4574rem;
  position: absolute;
  left: 0;
  top: 6.8836rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-Qhb .group-b7B .group-sqP {
  width: 12.1007rem;
  height: 11.0642rem;
  position: absolute;
  left: 16.4701rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item-02-Qhb .group-b7B .group-3-d3s {
  box-sizing: border-box;
  padding: 0.922rem 0.3rem 0.841rem 0.166rem;
  width: 23.9rem;
  height: 7.938rem;
  position: absolute;
  left: 19.3768rem;
  top: 8.7362rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-q2m.png');
}
.item-02-Qhb .group-b7B .group-3-d3s .vector-JA1 {
  margin-bottom: 0.6311rem;
  width: 3.9293rem;
  height: 0.281rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-Qhb .group-b7B .group-3-d3s .vector-qvd {
  margin: 0rem 0rem 3.812rem 0.491rem;
  width: 1.6837rem;
  height: 0.1405rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-Qhb .group-b7B .group-3-d3s .vector-L6h {
  margin: 0rem 0rem 0.443rem 19.013rem;
  width: 4.2103rem;
  height: 0.2363rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-Qhb .group-b7B .group-3-d3s .auto-group-kkxw-FUZ {
  margin-left: 0.6311rem;
  width: calc(100% - 0.6311rem);
  display: flex;
  align-items: flex-end;
}
.item-02-Qhb .group-b7B .group-3-d3s .auto-group-kkxw-FUZ .vector-YiZ {
  margin: 0rem 12.419rem 0rem 0rem;
  width: 4.5604rem;
  height: 0.281rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-02-Qhb .group-b7B .group-3-d3s .auto-group-kkxw-FUZ .vector-sVw {
  width: 5.8226rem;
  height: 0.6311rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-02-Qhb .group-b7B .item--zaZ {
  width: 10.9rem;
  height: 4rem;
  position: absolute;
  left: 23.2768rem;
  top: 10.8362rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.1111111111;
  color: #ffffff;
  font-family: NanumBarunGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.item-02-Qhb .group-3-Dy7 {
  width: 45.8263rem;
  height: 33.535rem;
  position: absolute;
  left: 52.9737rem;
  top: 68.4116rem;
}
.item-02-Qhb .group-3-Dy7 .group-4-ius {
  width: 40.7403rem;
  height: 27.7928rem;
  position: absolute;
  left: 0;
  top: 5.7422rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-Qhb .group-3-Dy7 .group-Fuo {
  width: 12.1007rem;
  height: 11.0642rem;
  position: absolute;
  left: 18.9196rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item-02-Qhb .group-3-Dy7 .group-1-byf {
  box-sizing: border-box;
  padding: 0.922rem 0.3rem 0.841rem 0.166rem;
  width: 23.9rem;
  height: 7.938rem;
  position: absolute;
  left: 21.9263rem;
  top: 9.3362rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-7Bs.png');
}
.item-02-Qhb .group-3-Dy7 .group-1-byf .vector-fid {
  margin-bottom: 0.6311rem;
  width: 3.9293rem;
  height: 0.281rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-Qhb .group-3-Dy7 .group-1-byf .vector-mWm {
  margin: 0rem 0rem 3.812rem 0.491rem;
  width: 1.6837rem;
  height: 0.1405rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-Qhb .group-3-Dy7 .group-1-byf .vector-WDT {
  margin: 0rem 0rem 0.443rem 19.013rem;
  width: 4.2103rem;
  height: 0.2363rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-Qhb .group-3-Dy7 .group-1-byf .auto-group-qzx5-3jB {
  margin-left: 0.6311rem;
  width: calc(100% - 0.6311rem);
  display: flex;
  align-items: flex-end;
}
.item-02-Qhb .group-3-Dy7 .group-1-byf .auto-group-qzx5-3jB .vector-QJq {
  margin: 0rem 12.419rem 0rem 0rem;
  width: 4.5604rem;
  height: 0.281rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-02-Qhb .group-3-Dy7 .group-1-byf .auto-group-qzx5-3jB .vector-LCV {
  width: 5.8226rem;
  height: 0.6311rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-02-Qhb .group-3-Dy7 .item--UZb {
  width: 8.7rem;
  height: 4rem;
  position: absolute;
  left: 27.4263rem;
  top: 11.4362rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.1111111111;
  color: #ffffff;
  font-family: NanumBarunGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.item-02-Qhb .group-2-kn1 {
  width: 42.9717rem;
  height: 36.3835rem;
  position: absolute;
  left: 9.4283rem;
  top: 65.5116rem;
}
.item-02-Qhb .group-2-kn1 .layer-1-5ZP {
  width: 34rem;
  height: 31.5682rem;
  position: absolute;
  left: 0;
  top: 4.8153rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-Qhb .group-2-kn1 .group-Yhs {
  width: 12.1007rem;
  height: 11.0642rem;
  position: absolute;
  left: 15.4651rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item-02-Qhb .group-2-kn1 .group-1-6UV {
  box-sizing: border-box;
  padding: 0.922rem 0.3rem 0.841rem 0.166rem;
  width: 23.9rem;
  height: 7.938rem;
  position: absolute;
  left: 19.0717rem;
  top: 8.7362rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-7SV.png');
}
.item-02-Qhb .group-2-kn1 .group-1-6UV .vector-odo {
  margin-bottom: 0.6311rem;
  width: 3.9293rem;
  height: 0.281rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-Qhb .group-2-kn1 .group-1-6UV .vector-MfK {
  margin: 0rem 0rem 3.812rem 0.491rem;
  width: 1.6837rem;
  height: 0.1405rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-Qhb .group-2-kn1 .group-1-6UV .vector-43w {
  margin: 0rem 0rem 0.443rem 19.013rem;
  width: 4.2103rem;
  height: 0.2363rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-Qhb .group-2-kn1 .group-1-6UV .auto-group-gcyt-oGR {
  margin-left: 0.6311rem;
  width: calc(100% - 0.6311rem);
  display: flex;
  align-items: flex-end;
}
.item-02-Qhb .group-2-kn1 .group-1-6UV .auto-group-gcyt-oGR .vector-kBf {
  margin: 0rem 12.419rem 0rem 0rem;
  width: 4.5604rem;
  height: 0.281rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-02-Qhb .group-2-kn1 .group-1-6UV .auto-group-gcyt-oGR .vector-GQu {
  width: 5.8226rem;
  height: 0.6311rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-02-Qhb .group-2-kn1 .item--8T7 {
  width: 13rem;
  height: 4rem;
  position: absolute;
  left: 21.4717rem;
  top: 10.8362rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.1111111111;
  color: #ffffff;
  font-family: NanumBarunGothic, 'Source Sans Pro';
  white-space: nowrap;
}
