.thema {
  width: 18rem;
  height: 18rem;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
}

.play_area {
  width: 70%;
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
}

.text1 {
  width: 10rem;
  height: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/text2.png');
}

.text2 {
  width: 10rem;
  height: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/text3.png');
}

.text3 {
  width: 10rem;
  height: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/text4.png');
}

.text4 {
  width: 10rem;
  height: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/text5.png');
}

.thema.training {
  background-image: url('../images/training.png');
}

.thema.travel {
  background-image: url('../images/travel_foc.png');
}

.thema.battle {
  background-image: url('../images/battle_foc.png');
}

.thema.shop {
  background-image: url('../images/shop_foc.png');
}

.training_monster {
  width: 100%;
  height: 13rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/trainingMonster1.png');
}

.travel_monster {
  width: 100%;
  height: 13rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/trainingMonster_left.png');
}

.monster_battle{
  width: 100%;
  height: 13rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/monster_fight.png');
}

.shop_area {
  width: 45rem;
  height: 7rem;
  display: flex;
  justify-content: space-between;
}

.shop1 {
  width: 7rem;
  height: 7rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/ch1.png');
}

.shop2 {
  width: 7rem;
  height: 7rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/ch2.png');
}

.shop3 {
  width: 7rem;
  height: 7rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/ch3.png');
}

.shop4 {
  width: 7rem;
  height: 7rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/ch4.png');
}

.shop5 {
  width: 7rem;
  height: 7rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/ch5.png');
}

.left_icon {
  width: 7rem;
  height: 7rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/left_icon.png');
}