.item-01-P8y {
  width: 100%;
  height: 720px;
  position: relative;
  overflow: hidden;
  /* background-image: url('../images/-Upd.png'); */
  background-size: cover;
  background-repeat: round;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.item-02-P8y {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  align-items: center;
}
.item-2023-11-29230308-1-iiy {
  /* width: 227.4rem;
  height: 115.0089rem; */
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.okbtn-MG9 {
  box-sizing: border-box;
  padding: 3rem 6.5rem;
  height: 8rem;
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1111111111;
  color: #ffffff;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.8000000119);
  border-radius: 6rem;
  z-index: 1;
  display : flex;
  justify-content : center;
}
.objects-Vx1 {
  width: 12rem;
  height: 3rem;
  position: relative;
  overflow: hidden;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1111111111;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/text1.png');
}
.group-GLV {
  width: 12rem;
  height: 10rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/monster.png');
}
.monster {
  z-index: 1;
  display: flex;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
